<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmbase – Grafikon</title>
    <link rel="stylesheet" href="/css/style_grafikon.css">
</head>
<body>

    <header id="Naslov">
        <h1>Dobrodosli na moju web stranicu</h1>
    </header>

    <nav class="navbar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">☰</label>
        <div class="nav-links">
            <a href="/">Pocetna</a>
            <a href="/grafikon">Grafikon</a>
            <a href="/slike">Galerija</a>
        </div>
    </nav>

    <div class="pie-chart">
        <svg viewBox="0 0 62 62">
            <circle class="pie1" cx="30" cy="30" r="15.9"></circle>
            <circle class="pie2" cx="30" cy="30" r="15.9"></circle>
            <circle class="pie3" cx="30" cy="30" r="15.9"></circle>
            <circle class="pie4"  cx="30" cy="30" r="15.9"></circle>
            <circle class="pie5"  cx="30" cy="30" r="15.9"></circle>
            <circle class="pie6"  cx="30" cy="30" r="15.9"></circle>
        </svg>
    </div>

    <div class="legend">
        <ul class="types">
            <li>Documentary</li>
            <li>Crime</li>
            <li>Children movie</li>
            <li>Drama</li>
            <li>Reality</li>
            <li>Comedy</li>
        </ul>
    </div>

</body>
</html>
